 body 
 { 
	font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: black;
	padding-left: 20px;
	padding-bottom: 20px;
} 

h1 
{ 	
	font-size: 20px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: black; 
} 

a
{
	color: rgb(54, 54, 54);
}

h3
{
	font-size: 15px;
}

ul 
{	
	list-style-type: disc;
}