 body 
 { 
	font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-bottom: 20px;
} 

h1 
{ 	
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: white; 
} 

p, a, ul
{
	color: #DBDBDB;
}

ul 
{	
	list-style-type: disc;
}

.invasor 
{
	width: 120px;
}

.center
{
	display: flex;
	justify-content: center;
}